body {
    background: whitesmoke;
    color: black;
    font-family: sans-serif;
    font-size: medium;
    font-weight: bolder;
    font-style: initial;
    padding: 0;
    margin: 0;
    max-width: 1080px;
    width: 100%;
    max-height: 1920px;
    height: 100%;
    display: flex;
}

button {
    background: black;
    color: whitesmoke;
    padding: 15px;
    margin: 7px;
    border: 1px solid dimgrey;
    opacity: 1;
}

button:focus {
    background: whitesmoke;
    color: black;
    opacity: 0.8;
    border: 1px solid whitesmoke;
}

button:hover {
    opacity: 0.5;
    transform: translateY(8px);
}

button:active {
    opacity: 0.3;
    transform: scale(3.3);
}

input {
    background: white;
    color: black;
    padding: 18px;
    margin: 9px;
    border: 1px solid dimgray;
    opacity: 1;
}

input:focus {
    background: black;
    color: white;
    border: 1px solid whitesmoke;
    opacity: 0.7;
}

.search_container {
    background: white;
    padding: 10px;
    margin: 10px;
    justify-content: baseline;
    justify-items: baseline;
    text-align: baseline;
    justify-self: baseline;
    align-content: baseline;
    align-items: baseline;
    align-self: baseline;
}

.vkladki {
    background: white;
    padding: 12px;
    margin: 12px;
    justify-content: left;
    justify-items: left;
    justify-self: left;
    text-align: left;
    align-content: left;
    align-items: left;
    align-self: left;


